.cargo/
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source
# design canvas: seeded page and static previews are generated
design/*-direction.html
design/preview_*.html
design/images/*-framing.html
